* {
  box-sizing: border-box;
  list-style: none;
}

:root {
  --bg-dark-green: #2a4032;
  --bg-light-green: #3a5e46;
  --bg-footer-color: #3b5f47;
  --bg-count-down-color: #18181840;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --white-lower-opacity: #ffffff4d;
  --white-low-opacity: #ffffffcc;
  --black-lowe-opacity: #00000033;
  --black-low-opacitey: #00000099;
  --collection-bg-one: #c5c2ca;
  --btn-yellow-color: #fdde67;
  --btn-yellow-hover: #ffeb9d;
  --btn-black-color: #181818;
  --btn-black-hover: #1e1e1e;
  --best-selle-bg: #e9e9e9;

  --font-size-h1-desk: 112px;
  --font-size-h1-mob: 60px;
  --font-size-h2-desk: 48px;
  --font-size-h2-mob: 32px;
  --font-size-h3-desk: 24px;
  --font-size-h3-mob: 18px;
  --font-size-footer-desk: 64px;
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 25px;
  --font-size-lg: 26px;
  --font-size-xl: 30px;
  --font-size-xxl: 36px;

  --font-lighter: 300;
  --font-light: 400;
  --font-normal: 500;
  --font-bold: 700;
  --font-bolder: 900;

  --border-btn-radius: 6px;
  --border-count-down-radius: 8px;
  --border-card-radius: 24px;

  --btn-padding: 16px 40px;
  --mobile-nav-padding: 12px 15px;
  --hero-discount-padding: 15px;
  --best-sell-dis-padding: 3px 6px;
  --count-down-padding: 32px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input[type="radio"] {
  display: none;
}

.container {
  width: 330px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: auto;
  white-space: nowrap;
}

/* header */
header {
  background: linear-gradient(
    150deg,
    var(--bg-dark-green) 0%,
    var(--bg-light-green) 50%
  );
  padding-top: 25px;
  min-height: 640px;
}

.nav-wrapper {
  display: none;
}

.hero-wrapper {
  position: relative;
}

.t-autumn,
.t-winter,
.t-summer,
.hero-right--price,
.hero-right--discount {
  display: none;
}

.hero-year {
  color: var(--white-lower-opacity);
  font-size: var(--font-size-xl);
  font-weight: var(--font-light);
  margin-bottom: 12px;
}

.text-box {
  width: 330px;
  margin-bottom: 12px;
}

.text-box .t-autumn,
.text-box .t-winter,
.text-box .t-summer {
  font-size: var(--font-size-h1-mob);
  color: var(--white-text-color);
  font-weight: var(--font-bolder);
  text-wrap: wrap;
}

#first:checked ~ .hero-dots label .first-dot-fill,
#second:checked ~ .hero-dots label .second-dot-fill,
#third:checked ~ .hero-dots label .third-dot-fill {
  display: block;
}

#first:checked ~ .hero-dots label .first-dot,
#second:checked ~ .hero-dots label .second-dot,
#third:checked ~ .hero-dots label .third-dot {
  display: none;
}

#first:checked ~ .hero-left > .text-box .t-autumn,
#second:checked ~ .hero-left > .text-box .t-winter,
#third:checked ~ .hero-left > .text-box .t-summer {
  display: block;
}

.hero-subtitle {
  font-size: var(--font-size-h3-mob);
  color: var(--white-low-opacity);
  font-weight: var(--font-light);
  margin-bottom: 24px;
}

.hero-btn {
  font-size: var(--font-size-xs);
  color: var(--btn-black-color);
  background-color: var(--btn-yellow-color);
  border-radius: var(--border-btn-radius);
  border: none;
  cursor: pointer;
  padding: var(--btn-padding);
  position: relative;
  z-index: 5;
}

.hero-btn:hover {
  background-color: var(--btn-yellow-hover);
}

.hero-image {
  position: relative;
  min-height: 391px;
  margin-top: -30px;
}

.ellipse-01 {
  position: absolute;
  width: 198.55px;
  aspect-ratio: 1/1;
  top: 120px;
  left: 0;
}

.ellipse-02 {
  position: absolute;
  width: 192.63px;
  aspect-ratio: 1/1;
  left: 120px;
  top: 45px;
}

.hero-man {
  position: absolute;
  width: 208px;
  height: 391px;
  left: 48px;
}

.hero-dots {
  display: flex;
  align-items: center;
  z-index: 10;
  gap: 16px;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  left: 120px;
}

.first-dot-fill,
.second-dot-fill,
.third-dot-fill {
  display: none;
}

.nav {
  position: sticky;
  background-color: var(--btn-yellow-color);
  min-height: 48px;
  margin-top: -48px;
  top: 0;
  z-index: 10;
}

.nav-list-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mobile-nav-padding);
  position: absolute;
  min-width: 330px;
  top: 100%;
  transform: translateY(-100%);
}

.brands-wrapper {
  background-color: var(--btn-black-color);
}

.brands-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mobile-nav-padding);
}

.brands-wrapper ul li:nth-of-type(1) img {
  width: 40.66px;
}

.brands-wrapper ul li:nth-of-type(2) img {
  width: 64.49px;
}

.brands-wrapper ul li:nth-of-type(3) img {
  width: 28px;
}

.brands-wrapper ul li:nth-of-type(4) img {
  width: 15px;
}

.brands-wrapper ul li:nth-of-type(5) img {
  width: 41.58px;
}

.brands-wrapper ul li:nth-of-type(6) img {
  width: 36.19px;
}

@media (width >= 1350px) {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  .container {
    width: 1320px;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
  }

  .nav-wrapper .logo {
    color: var(--white-text-color);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-bolder);
  }

  .nav-wrapper .nav-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    font-size: var(--font-size-h3-mob);
    font-weight: var(--font-light);
  }

  .nav-wrapper .nav-list a {
    color: var(--white-low-opacity);
  }

  .nav-wrapper .nav-list a:hover {
    color: var(--white-text-color);
  }

  .nav-wrapper .shopping-cart {
    background-color: var(--btn-yellow-color);
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
  }

  .hero-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .hero-wrapper .hero-left {
    margin-top: 25px;
  }

  .hero-wrapper .hero-left .hero-year {
    font-size: var(--font-size-h1-mob);
    margin-bottom: 24px;
  }

  .hero-wrapper .hero-left .text-box {
    font-size: var(--font-size-h1-desk);
    max-width: 700px;
    letter-spacing: 15px;
    margin-bottom: 24px;
  }

  .hero-wrapper .hero-left .hero-subtitle {
    font-size: var(--font-size-md);
    margin-bottom: 49px;
  }

  .hero-wrapper .hero-right {
    min-width: 798px;
    position: relative;
    min-height: 619px;
  }

  .hero-wrapper .hero-right .ellipse-01 {
    width: 318.08px;
    aspect-ratio: 1/1;
    left: 134.25px;
    top: 224px;
  }

  .hero-wrapper .hero-right .ellipse-02 {
    width: 308.6px;
    aspect-ratio: 1/1;
    top: 126.7px;
    left: 315.15px;
  }

  .hero-wrapper .hero-right .hero-man {
    width: 342.16px;
    height: 619.63px;
    left: 205px;
  }

  .hero-wrapper .hero-right .hero-right--price {
    display: block;
    font-size: var(--font-size-xxl);
    font-weight: var(--font-normal);
    color: var(--white-text-color);
    position: absolute;
    top: 79px;
    left: 143.04px;
  }

  .hero-wrapper .hero-right .hero-right--discount {
    display: block;
    font-family: "Roboto";
    font-size: var(--font-size-lg);
    font-weight: var(--font-bold);
    background-color: var(--btn-yellow-color);
    border-radius: 50%;
    text-wrap: wrap;
    text-align: center;
    width: 90px;
    height: 90px;
    padding: var(--hero-discount-padding);
    position: absolute;
    top: 114px;
    left: 205.15px;
    z-index: 2;
  }

  .hero-wrapper .hero-dots {
    flex-direction: column;
    position: absolute;
    top: 198px;
    right: 0;
    pointer-events: none;
    bottom: auto;
    left: auto;
  }

  .nav {
    display: none;
  }

  .brands-wrapper {
    margin-top: -30px;
  }

  .brands-wrapper .brands-list {
    padding: 30px 0;
  }

  .brands-wrapper ul li:nth-of-type(1) img {
    width: 165.13px;
  }

  .brands-wrapper ul li:nth-of-type(2) img {
    width: 257.98px;
  }

  .brands-wrapper ul li:nth-of-type(3) img {
    width: 112px;
  }

  .brands-wrapper ul li:nth-of-type(4) img {
    width: 60px;
  }

  .brands-wrapper ul li:nth-of-type(5) img {
    width: 166.32px;
  }

  .brands-wrapper ul li:nth-of-type(6) img {
    width: 144.76px;
  }

  .hero-arrows-next {
    rotate: 180deg;
    position: absolute;
    bottom: 50px;
    left: 500px;
    opacity: 0.3;
  }

  .hero-arrows-next:hover {
    opacity: 1;
  }

  #next01:checked ~ .hero-left > .text-box .t-autumn,
  #next02:checked ~ .hero-left > .text-box .t-winter,
  #next03:checked ~ .hero-left > .text-box .t-summer {
    display: block;
  }

  #next02:checked ~ .hero-left > .text-box .t-autumn,
  #next03:checked ~ .hero-left > .text-box .t-autumn {
    display: none;
  }

  #next01:checked ~ .hero-arrows-next label .next.next02,
  #next02:checked ~ .hero-arrows-next label .next.next03,
  #next03:checked ~ .hero-arrows-next label .next.next01 {
    display: block;
  }

  #next01:checked ~ .hero-dots label .first-dot-fill,
  #next02:checked ~ .hero-dots label .second-dot-fill,
  #next03:checked ~ .hero-dots label .third-dot-fill,
  #next02:checked ~ .hero-dots label .first-dot,
  #next03:checked ~ .hero-dots label .first-dot {
    display: block;
  }

  #next01:checked ~ .hero-dots label .first-dot,
  #next02:checked ~ .hero-dots label .second-dot,
  #next03:checked ~ .hero-dots label .third-dot,
  #next02:checked ~ .hero-dots label .first-dot-fill,
  #next03:checked ~ .hero-dots label .first-dot-fill {
    display: none;
  }

  #next01:checked ~ .hero-arrows-next .next01,
  #next01:checked ~ .hero-arrows-next .next03,
  #next02:checked ~ .hero-arrows-next .next02,
  #next02:checked ~ .hero-arrows-next .next01,
  #next03:checked ~ .hero-arrows-next .next03,
  #next03:checked ~ .hero-arrows-next .next02 {
    display: none;
  }
}

/* new collection */
.new-collection--wrapper,
.best-seller-wrapper {
  padding: var(--count-down-padding);
}

.new-collection--wrapper h2,
.best-seller-wrapper h2 {
  font-size: var(--font-size-h2-mob);
  font-weight: var(--font-light);
  margin-bottom: 32px;
}

.new-collection--wrapper h3 {
  font-size: var(--font-size-h3-mob);
  font-weight: var(--font-bold);
}

.new-collection--wrapper ul li {
  border-radius: var(--border-card-radius);
  padding-top: 18px;
}

.new-collection--wrapper ul li:first-of-type {
  background-color: var(--collection-bg-one);
  padding-left: 18px;
  position: relative;
  margin-bottom: 32px;
}

.colorful-right h3 {
  max-width: 139px;
  position: absolute;
  top: 18px;
  right: 18px;
  text-wrap: wrap;
  text-align: center;
}

.colorful-discount {
  font-family: "Roboto";
  font-size: var(--font-size-h3-desk);
  font-weight: var(--font-bold);
  position: absolute;
  right: 40px;
  top: 108.8px;
}

.new-collection--wrapper ul li:first-of-type img {
  justify-self: center;
  margin-top: 35px;
}

.new-collection--wrapper ul li:last-of-type {
  background-color: var(--btn-yellow-color);
  display: flex;
  position: relative;
}

.new-collection--wrapper ul li button {
  padding: var(--btn-padding);
  background-color: var(--btn-black-color);
  color: var(--white-text-color);
  border: none;
  border-radius: var(--border-btn-radius);
  position: absolute;
  bottom: 18px;
  right: 18px;
  cursor: pointer;
}

/* best seller */
.best-seller-wrapper {
  background-color: var(--best-selle-bg);
}

.best-sellers-list {
  display: flex;
  gap: 35px;
  font-family: "Roboto";
}

.best-seller--image {
  position: relative;
  padding: 31.32px 51.25px 40.32px 43.5px;
  background-color: var(--white-text-color);
  border-radius: var(--border-card-radius);
  margin-bottom: 16px;
}

.best-seller--image label {
  position: absolute;
  top: 18px;
  right: 18px;
}

.seller-discount {
  position: absolute;
  top: 18px;
  left: 18px;
  background-color: var(--bg-light-green);
  color: var(--white-text-color);
  padding: var(--best-sell-dis-padding);
  font-size: var(--font-size-xxs);
  border-radius: var(--border-btn-radius);
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
}

#favorite-one:checked + label,
#favorite-two:checked + label,
#favorite-three:checked + label,
#favorite-four:checked + label,
#favorite-five:checked + label,
#favorite-six:checked + label,
#favorite-seven:checked + label,
#favorite-eight:checked + label {
  color: red;
}

.best-seller--detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best-seller--detail h4 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-normal);
}

.best-seller--detail p {
  font-size: var(--font-size-xs);
  font-weight: var(--font-lighter);
  color: var(--black-low-opacitey);
}

.seller-price span {
  text-decoration: line-through;
  color: var(--black-lowe-opacity);
  margin-right: 12px;
}

.best-seller--detail .detail-shopping--cart {
  padding: 11px;
  border-radius: var(--border-btn-radius);
  background-color: var(--btn-yellow-color);
  cursor: pointer;
}

/* footer */
footer {
  background-color: var(--bg-footer-color);
  padding: 32px 0;
}

.footer-left {
  display: none;
}

.footer-right h2 {
  color: var(--white-text-color);
  font-size: var(--font-size-h2-mob);
  text-align: center;
  margin-bottom: 32px;
}

.footer-right ul {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  font-family: "Roboto";
}

.count-down--item {
  text-align: center;
}

.count-down--item .count-down-title {
  width: 54px;
  height: 56px;
  font-weight: var(--font-bold);
  background-color: var(--bg-count-down-color);
  border-radius: var(--border-btn-radius);
  padding: 12px;
  color: var(--white-text-color);
  font-size: var(--font-size-h3-desk);
  margin-bottom: 14px;
}

.count-down--item .count-down-subtitle {
  font-family: "Roboto";
  font-size: var(--font-size-xxs);
  font-weight: var(--font-lighter);
  color: var(--white-text-color);
}
